{% load static %}
<nav class="navbar" >
    <div class="container-fluid">
        <div class="navbar-header">
            <img src='{% static "images/logo.jpg" %}' class="img" alt="Cinque Terre" width="auto" > 
        </div>
        <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">РЕШЕНИЯ <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://finance.simbirsoft.com/">Для банков</a></li>
                    <li><a href="https://insurance.simbirsoft.com/">Для страховых</a></li>
                    <li><a href="https://estimater.ru/">Оценка IT-проектов</a></li>
                    <li><a href="http://data.simbirsoft.com/">Data Science</a></li>
                    <li><a href="https://crm.simbirsoft.com/">Автоматизация бизнеса</a></li>
                    <li><a href="http://shopchat.simbirsoft.com/">ShopChat</a></li>
                    <li><a href="https://foodtech.simbirsoft.com/">Food Tech</a></li>
                    <li><a href="https://medtech.simbirsoft.com/">Для медицинской сферы</a></li>
                    <li><a href="https://industrial.simbirsoft.com/">Для промышленности</a></li>
                </ul>
            </li>
            
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" height:auto>УСЛУГИ <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://www.simbirsoft.com/help/it-product/">IT-продукт под ключ</a></li>
                    <li><a href="https://www.simbirsoft.com/help/outsourcing/">Аутсорсинг</a></li>
                    <li><a href="https://www.simbirsoft.com/help/upgrade-existing-system/">Модернизация ПО</a></li>
                    <li><a href="https://www.simbirsoft.com/help/save-a-product/">«Спасти» продукт</a></li>
                    <li><a href="https://www.simbirsoft.com/help/quality-of-your-it-systems/">Обеспечение качества</a></li>
                    <li><a href="https://www.simbirsoft.com/help/sla-support/">Техподдержка production и разработки</a></li>
                    <li><a href="https://www.simbirsoft.com/help/jira/">Jira Service</a></li>
                    <li><a href="https://www.simbirsoft.com/help/it-architecture/">IT-архитектура</a></li>
                    <li><a href="https://www.simbirsoft.com/help/ux-audit/">UX-аудит</a></li>
                    <li><a href="https://www.simbirsoft.com/help/bitrix24/">Внедрение Битрикс24</a></li>
                </ul>
            </li>

            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">ПОРТФОЛИО <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://www.simbirsoft.com/portfolio/technologies/">Технологии</a></li>
                    <li><a href="https://www.simbirsoft.com/portfolio/industries/">Отрасли</a></li>
                </ul>
            </li>


            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">О НАС <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://www.simbirsoft.com/company/about/">О компании</a></li>
                    <li><a href="https://www.simbirsoft.com/company/awards/">Награды</a></li>
                    <li><a href="https://www.simbirsoft.com/company/clients/">Клиенты и отзывы</a></li>
                    <li><a href="https://www.simbirsoft.com/company/processes/">Наши процессы</a></li>
                    <li><a href="https://www.simbirsoft.com/company/news/">Новости</a></li>
                    <li><a href="https://www.simbirsoft.com/company/management/">Менеджмент</a></li>
                    <li><a href="https://www.simbirsoft.com/company/contacts/">Контакты</a></li>
                    <li><a href="https://www.simbirsoft.com/company/responsibility/">Социальная ответственность</a></li>
                </ul>
            </li>


            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">КАРЬЕРА <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://www.simbirsoft.com/work/">Работа</a></li>
                    <li><a href="https://www.simbirsoft.com/vacancies/">Вакансии</a></li>
                    <li><a href="https://www.simbirsoft.com/career/">Начало карьеры</a></li>
                </ul>
            </li>

            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="https://www.simbirsoft.com/blog/">БЛОГ</a>
            </li>

        </ul>

    </div>
</nav>