{% extends 'base.html' %}
{% load static %}

{% block title %}
  Вопрос№ 1
{% endblock %}

{% block content %}
    <h3 class='text'>Вопрос 1</h3>
    <form action="{% url 'p2' %}" class='form'>
        <h4 >{{test.questions.0.text}} </h4>
        <ol type='A'>
            <li><input type='radio' name='answ1' required value={{test.questions.0.choices.0.uuid}} > {{test.questions.0.choices.0.text}}</li><br>
            <li><input type='radio' name='answ1' value={{test.questions.0.choices.1.uuid}}> {{test.questions.0.choices.1.text}}</li><br>
            <li><input type='radio' name='answ1' value={{test.questions.0.choices.2.uuid}}>  {{test.questions.0.choices.2.text}}</li><br>
            <li><input type='radio' name='answ1' value={{test.questions.0.choices.3.uuid}}> {{test.questions.0.choices.3.text}}</li><br>
            <input type='submit' class="btn btn-primary"  value='Следующий вопрос'>
        </ol>
    </form>
{% endblock %}
