{% extends 'base.html' %}
{% load static %}

{% block title %}
  Вопрос№ 3
{% endblock %}

{% block content %}
    <h3 class='text'>Вопрос 3</h3>
    <form action="{% url 'p4' %}" class='form'>
        <h4>{{test.questions.2.text}}</h4>
        <ol type='A'>
            <li><input type='radio' name='answ3' required value={{test.questions.2.choices.0.uuid}}> {{test.questions.2.choices.0.text}}</li><br>
            <li><input type='radio' name='answ3' value={{test.questions.2.choices.1.uuid}}> {{test.questions.2.choices.1.text}}</li><br>
            <li><input type='radio' name='answ3' value={{test.questions.2.choices.2.uuid}}> {{test.questions.2.choices.2.text}}</li><br>
            <li><input type='radio' name='answ3' value={{test.questions.2.choices.3.uuid}}> {{test.questions.2.choices.3.text}}</li><br>
            <input type='submit' class="btn btn-primary" value='Следующий вопрос'>
        </ol>
    </form>
{% endblock %}
