{% extends 'base.html' %}
{% load static %}

{% block title %}
  Вопрос№ 4
{% endblock %}

{% block content %}
    <h3 class="text">Вопрос 4</h3>
    <form action="{% url 'p5' %}" class="form">
        <h4>{{test.questions.3.text}}</h4>
        <ol type='A' required>
            <li><input type='checkbox' name='answ4' value={{test.questions.3.choices.0.uuid}} > {{test.questions.3.choices.0.text}}</li><br>
            <li><input type='checkbox' name='answ4' value={{test.questions.3.choices.1.uuid}}>  {{test.questions.3.choices.1.text}}</li><br>
            <li><input type='checkbox' name='answ4' value={{test.questions.3.choices.2.uuid}}>  {{test.questions.3.choices.2.text}}</li><br>
            <li><input type='checkbox' name='answ4' value={{test.questions.3.choices.3.uuid}}>  {{test.questions.3.choices.3.text}}</li><br>
            <input type='submit' class="btn btn-primary" value='Следующий вопрос'>
        </ol>
    </form>
{% endblock %}
