<!DOCTYPE html>
<html>
<head>
<title>Вопрос 4</title>
</head>
<body>
<h3>Вопрос 4</h3>
<form action="{% url 'p5' %}">
<h5>Содержание вопроса</h5>
<ol type='A' required>
    <li><input type='checkbox' name='answ4' value='A'  > Ответ 1</li><br>
    <li><input type='checkbox' name='answ4' value='B'> Ответ 2</li><br>
    <li><input type='checkbox' name='answ4' value='C'> Ответ 3</li><br>
    <li><input type='checkbox' name='answ4' value='D'> Ответ 4</li><br>
    <input type='submit' value='Следующий вопрос'>
</ol>
</form>
</body>
</html>