<!DOCTYPE html>
<html>
<head>
<title>Вопрос 4</title>
<meta  charset="utf-8">
</head>
<body>
<h3>Вопрос 4</h3>
<form action="{% url 'p5' %}" >
<h5>{{quest4.quest}}</h5>
<ol type='A'>
    <li><input type='radio' name='answ4' required value='A'> {{quest4.A}}</li><br>
    <li><input type='radio' name='answ4' value='B'>  {{quest4.B}} </li><br>
    <li><input type='radio' name='answ4' value='C'> {{quest4.C}} </li><br>
    <li><input type='radio' name='answ4' value='D'> {{quest4.D}} </li><br>
    <input type='submit' value='Следующий вопрос'>
    </ol>
</form>
</body>
</html>