{% extends 'base.html' %}
{% load static %}

{% block title %}
  Вопрос№ 5
{% endblock %}

{% block content %}
    <h3 class="text">Вопрос 5</h3>
    <form action="{% url 'finish' %}" class="form">
        <h4>{{test.questions.4.text}}</h4>
        <ol type='A'>
            <li><input type='radio' name='answ5' required value={{test.questions.4.choices.0.uuid}}> {{test.questions.4.choices.0.text}} </li><br>
            <li><input type='radio' name='answ5' value={{test.questions.4.choices.1.uuid}}> {{test.questions.4.choices.1.text}} </li><br>
            <li><input type='radio' name='answ5' value={{test.questions.4.choices.2.uuid}}> {{test.questions.4.choices.2.text}} </li><br>
            <li><input type='radio' name='answ5' value={{test.questions.4.choices.3.uuid}}> {{test.questions.4.choices.3.text}} </li><br>
            <input type='submit' class="btn btn-primary" value='Следующий вопрос'>
        </ol>
    </form>
{% endblock %}
