<!DOCTYPE html>
<html>
<head>
<title>Вопрос 5</title>
</head>
<body>
<h3>Вопрос 5</h3>
<form action="{% url 'res' %}">
<h5>Содержание вопроса</h5>
<ol type='A'>
    <li><input type='checkbox' name='answ5' required value='A'> Ответ 1</li><br>
    <li><input type='checkbox' name='answ5' value='B'> Ответ 2</li><br>
    <li><input type='checkbox' name='answ5' value='C'> Ответ 3</li><br>
    <li><input type='checkbox' name='answ5' value='D'> Ответ 4</li><br>
    <input type='submit' value='Следующий вопрос'>
</ol>
</form>
</body>
</html>